<style>
    .area-sizing {
        resize: none;
        width: 100%;
        height: 300px;
    }
    
    .field-sizing {
    	width: 50%;
    }
</style>
<div class="container">
<%= form_for @post do |f| %>

	<p>
		<%= f.label :title %> <br>
		<%= f.text_field :title, class: "field-sizing" %>
	</p>
	<p>
		<%= f.label :content %> <br>
		<%= f.text_area :content, class: "area-sizing" %>
	</p>
	<p>
		<%= f.label :tag %> <br>
		<%= f.text_field :tag %>
	</p>
	<p>
		<br>
		<%= f.submit 'Save Entry', class: "btn btn-primary" %>
    </p>
<% end %>
</div>