
    <div class="jumbotron">
        <div class="container">
            <h1>Diary ni Koji</h1>
            <%= button_to "New Entry", new_post_path, method: :get, class: "btn btn-info btn-lg" %>
        </div>
    </div>

    <div class="container">
        <% @posts.each do |p| %>
            <div>
                <h2 style="display:inline-block"><%= p.title %></h2>
                <span style="float:right">
                    <%= link_to 'Show', post_path(p) %> |
                    <%= link_to 'Edit', edit_post_path(p) %> |
                    <%= link_to 'Delete', post_path(p), method: :delete, data: {confirm: "Delete entry \"" + p.title + "\"?"} %>
                </span>
            </div>
            <p>
                <p style="white-space: pre-wrap"><%= p.content %></p> <br>
                <small>tag: <%= p.tag %></small> <br>
                <br>
            </p>
            <hr>
        <% end %>
    </div>
  