<%= link_to 'Back', posts_path %>

<div class="container">
    <h1><%= @post.title %></h1>
    <p style="white-space: pre-wrap"><%= @post.content %></p>
    <small>tag: <%= @post.tag %></small> <br><br>
    
    <%= button_to 'Edit', edit_post_path, method: :get, class: "btn btn-primary" %>
</div>